MD.GA.TEST/Service References/ProxyUsuario/ServiceUsuario3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62059/ServiceUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MD.GA.COMMOM.Response" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioValidarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioValidarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MD.GA.COMMOM.Response" minOccurs="0" name="UsuarioValidarLoginResult" nillable="true" type="q1:ResponseOfUsuarioP5nB1s9Q" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>