MD.GA.TEST/Service References/ProxyUsuario/ServiceUsuario1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MD.GA.COMMOM.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MD.GA.COMMOM.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62059/ServiceUsuario.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MD.GA.BE.Entidades" />
  <xs:complexType name="ResponseOfUsuarioP5nB1s9Q">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MD.GA.COMMOM.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Usuario" Namespace="http://schemas.datacontract.org/2004/07/MD.GA.BE.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MD.GA.BE.Entidades" minOccurs="0" name="Value" nillable="true" type="q1:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseOfUsuarioP5nB1s9Q" nillable="true" type="tns:ResponseOfUsuarioP5nB1s9Q" />
</xs:schema>